@import "variables";

.ttracker {
  margin: 0 auto;
  padding: 20px;
  max-width: 1280px;
  color: $text_color;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
  h1 {
    font-size: 40px;
    color: $text_header_color;
    margin-bottom: 36px;
  }
  h2 {
    font-size: 28px;
    color: $text_header_2_color;
  }
  &__button {
    border: none;
    outline: none;
    background: $button_bg_color;
    color: $button_text_color;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color $ani_speed_fast;
    padding: 6px 14px;
    &:hover {
      background: $button_bg_hover_color;
    }
    &:disabled {
      background: $button_bg_disabled_color;
    }
  }
}

@import 'task_list';
@import 'task_list_item';
@import 'task_input';
@import "radio_set";