$border_color: rgba(127, 127, 127, 0.75);
$shadow_color: rgba(17, 17, 17, 0.3);

.task_list {
  margin: 20px 0;
  padding: 20px;
  border: 2px solid $border_color;
  border-radius: 20px;
  box-shadow: 3px 3px 5px 0 $shadow_color;
}