// colors

$text_color: #111111;
$text_header_color: #5584be;
$text_header_2_color: #62717a;

$button_bg_color: #5584be;
$button_bg_hover_color: #679fe7;
$button_bg_disabled_color: rgba(164, 164, 164, 0.7);
$button_text_color: #FFFFFF;

$task_text_color: #4f4f4f;
$task_border_color: #bdbdbd;
$task_list_border_color: rgba(99, 130, 140, 0.4);
$task_list_shadow_color: rgba(17, 17, 17, 0.3);
$task_list_empty_text_color: rgba(17, 17, 17, 0.25);


//borders

$border_radius: 4px;


// animations

$ani_speed_fast: 0.2s,